language: java

jdk: oraclejdk7

notifications:
  email: true

before_install:
  #- sudo apt-get update -qq
  #- sudo apt-get install -qq libstdc++6:i386 lib32z1
  - wget http://dl.google.com/android/android-sdk_r22.2.1-linux.tgz
  - tar -zxf android-sdk_r22.2.1-linux.tgz
  - export ANDROID_HOME=$TRAVIS_BUILD_DIR/android-sdk-linux
  - export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools
  - echo y | android update sdk --filter android-18,android-16,android-14,android-10,android-8,extra-android-support,platform-tools --no-ui -a

  # Create and start emulator
  - echo no | android create avd --force -n test -t android-16 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &

before_script:
  #- wait_for_emulator
  - cp -r $ANDROID_HOME/extras/android/support/v7/appcompat ..
  - cp -r $ANDROID_HOME/extras/google/google_play_services/libproject/google-play-services_lib ..
  - android update project --subprojects -p . --target android-18
  - cp ../appcompat/libs/android-support-v4.jar ./libs


script: ant clean test
